body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vertical-offset-100{
  padding-top:100px;
}
#online,#messages{
    border:solid 2px #00B7FF;
}
#online{
    height:400px;
    overflow-y: auto;
}
#online .usr{
    color:#008833;
    text-decoration:underline;
    cursor:pointer;
}
.author{
    color:#00B7FF;
    font-size:12px;
}
#status{
    padding-bottom: 10px;
    color:#00B73F;
}
.clear{
    clear:both;
}
.date{
    color:#cccccc;
    font-size:10px;
}
.getmessage{
    color:#000000;
    padding-left:5px;
    font-size:14px;
}
.sendMessage .author{
    color:#008833;
    padding-right:10px;
}
.sendMessage .author,.sendMessage .date,.sendMessage .setmessage{
    float:right;
}
#optBox{
    padding-top:10px;
}
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#messages .offline{
    text-align: center;
    color:#cccccc;
    font-size:12px;
}
@media screen and (max-width: 640px){
    #messages{
        height:200px;
        padding:8px;
        overflow-y: scroll;
    }
}
@media screen and (min-width: 641px) and (max-width: 800px){
    #messages{
        height:300px;
        padding:8px;
        overflow-y: auto;
    }

}
@media screen and (min-width: 801px) and (max-width: 1024px){
    #messages{
        height:400px;

        padding:15px;
        overflow-y: auto;
    }

}
@media screen and (min-width: 1025px){
    #messages{
        height:400px;

        padding:15px;
        overflow-y:auto;
    }

}
